

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background-color: #CAAFA8;
    height: fit-content;
    color: #fff;
    margin: auto;
    margin-top: 2%;
    letter-spacing: 1px;
    font-family: "Montseerat";
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
    display: grid;
    align-content: space-between;
    
}
.footerHead{
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.footerPara{

line-height: 16px;
margin-top: 100px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
width: 35%;
overflow-wrap: break-word;  
word-wrap: break-word; 
word-break: break-word;
margin: auto;
}
input[type=email] {
   margin-top: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
   
  }
  ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    /* margin-left: 600px; */
    justify-content: center;
    margin-top: 1%!important;
}

.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: currentColor;
    /* border: 1px solid white; */
    /* border-radius: 50%; */
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-left: 0px !important;
    width: 100%;
    margin-top: 5% !important;
}
.links a{
    text-decoration: none;
    color: #fff;
    font-variant: normal;
}

.last{
    margin-top: 25px;
    text-align: center;
}

.emailBox{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    width: 20%;
    margin: auto;
    align-content: center;
    padding: 0px;
}

.emailBox>input{
    outline: none;
    border: none;
}
.emailBox>input:focus{
    outline: none;
    border: none;
}
.emailIcon{
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

@media screen and (max-width:900px){
    .footerPara{
        width: 60%;
    }
    .emailBox{
        width: 50%;
    }
}